version: "3.9"

services:
  backend-e2e:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    command: ["yarn", "start:dev"]
    env_file:
      - ./env/dev.env
    ports: 
      - "8000"
    networks: 
      - url-shortener-e2e

  frontend-e2e:
    build: 
      context: ./web
      dockerfile: Dockerfile
    command: ["yarn", "start"]
    env_file:
      - ./env/dev.dev
    ports:
      - "3000"
    depends_on:
      - backend
    networks:
      - url-shortener-e2e

  nginx-e2e:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    command: ["nginx-debug", "-g", "daemon off;"]
    ports: 
      - "3000:80"
    depends_on:
      - frontend-e2e
      - backend-e2e
    networks:
      - url-shortener-e2e

  e2e:
    build:
      context: ./web
      dockerfile: Dockerfile
    command: ["yarn", "cypress", "--headless", "--browser", "chrome"]
    depends_on:
      - nginx-e2e
      - frontend-e2e
      - backend-e2e
    networks:
      - url-shortener-e2e


networks:
  url-shortener-e2e: {}